<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - GroupProj</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li class="nav-item">
                    <i class="material-icons">school</i>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("ClassTimetable", "Timetables")">Class Timetables</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("ExamTimetable", "Timetables")">Exam Timetables</a>
                </li>
                <li class="nav-item">
                    <i class="material-icons">school</i>
                </li>
                <li class="nav-item">
                    <a class="btn-primary" href="@Url.Action("Login","Accounts")">Login</a>
                </li>
                
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Groupproj - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
